body{
    background-image: url("./background_grid1.png");
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
 
    font-family: 'Satoshi', sans-serif;
    
}
.card{
    border: 2px dashed #ff5930;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
}
.card:hover {
    transform: scale(1.05); /* Scales the card to 105% of its original size */
    box-shadow: 0px 6px 15px rgba(255, 119, 0, 0.895); /* Increases shadow on hover */
}
.card-body{
    min-height: 304px;
}
.container{
    display: grid;
    border: 1px solid #ff5930;
    border-radius: 10px;
    justify-content: center;
   grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
   gap: 15px;
   align-items: center;

}
.align{
    text-align: center;
}
ul li{
    font-size: 18px;

}
.heading h1{
    color: #ff5930;
    text-align: center;
    font-weight: 730;
    font-family: 'Satoshi', sans-serif;

}
h5{
    font-size: 20px;
    font-weight: 730;
}
.home{
    width: 60px;
    height: 60px;
    border: #ff5930 solid;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
}
.home:hover{
    transform: scale(1.05);
    background-color: #fad2c882;
}
